/feeds.txt
/feeds.txt.*
/node_modules
/public/hot
/public/storage
/public/css/*.css
/public/js/*.js
/public/build
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
/.phpunit.cache
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
